.aside(tabindex='-1', role='dialog')
  .aside-dialog
    .aside-content
      .aside-header(ng-show='title')
        button.close(type='button', ng-click='$hide()') ×
        h4.aside-title(ng-bind='title')
      .aside-body.bs-sidebar(bs-navbar)
        ul.nav.bs-sidenav
          li(ng-repeat="route in routes", ui-sref-active="active")
            a(ui-sref='{{route.state.name}}') {{route.title}}