.modal(tabindex='-1', role='dialog')
  .modal-dialog
    .modal-content
      .modal-header(ng-show='title')
        button.close(type='button', ng-click='$hide()') ×
        h4.modal-title(ng-bind='title')
      .modal-body
        .media(ng-click="chooseType(blogPost, 'news', $hide)")
          a.pull-left
            .timeline-badge.success
              i.fa.fa-newspaper-o
          .media-body
            h4.media-heading News
            | Blogposts die als News fungieren
        .media(ng-click="chooseType(blogPost, 'other', $hide)")
          a.pull-left
            .timeline-badge
              i.fa.fa-question
          .media-body
            h4.media-heading Anderes
            | Wenn sonst kein anderer Typ passt.
      .modal-footer
        button.btn.btn-default(type='button', ng-click='$hide()') Schließen
