.form-group-validation(@border-color: #ccc; @background-color: #f5f5f5) {
  border-color: @border-color;
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
  &:focus {
    border-color: darken(@border-color, 10%);
    @shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten(@border-color, 20%);
    .box-shadow(@shadow);
  }
}

.ng-invalid.ng-dirty {
  .has-error .form-control;
  .form-group-validation(@state-danger-text; @state-danger-bg);
}

.ng-valid.ng-dirty {
  .has-success .form-control;
  .form-group-validation(@state-success-text; @state-success-bg);
}

label.control-label {
  &.absolute-control-label-bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: -25px;
  }
  &.validation {
    margin-top: 5px;
    margin-bottom: 0;
  }
  &.danger, &.has-danger, &.has-error {
    // color: @state-danger-text;
    .has-error .control-label;
  }

  &.warning, &.has-warning {
    // color: @state-warning-text;
    .has-warning .control-label;
  }

  &.success, &.has-success {
    // color: @state-success-text;
    .has-success .control-label;
  }
}

.has-absolute-control-label-bottom {
  padding-bottom: 25px;
}
