.attachment
  a.attachment-link(target="_blank", ng-href="{{path + '/' + attachment.uploadedAs}}")
    img.img-responsive.img-thumbnail(ng-class="{'img-center':centerImage}", ng-if="attachment.isImage", ng-src="{{path + '/' + attachment.thumb.name}}", title="{{attachment.filename}}")
    img.img-responsive.img-thumbnail(ng-class="{'img-center':centerImage}", ng-if="attachment.hasPreview", ng-src="{{path + '/' + attachment.preview.name}}", title="{{attachment.filename}}")
    div.attachment-placeholder.img-thumbnail(ng-if="!attachment.isImage && !attachment.hasPreview", title="{{attachment.filename}}")
      .fa.fa-table(ng-if="attachment.hasTableIcon")
      .fa.fa-file-text(ng-if="attachment.hasTextIcon")
      .fa.fa-code(ng-if="attachment.hasCodeIcon")
      .fa.fa-file-video-o(ng-if="attachment.hasVideoIcon")
      .fa.fa-file-audio-o(ng-if="attachment.hasAudioIcon")
      .fa.fa-file(ng-if="attachment.hasApplicationIcon")
      .fa.fa-paperclip(ng-if="attachment.hasUnknownIcon")
  button.btn-attachment.btn.btn-danger.btn-sm.pull-right(type="button", ng-if="authenticated", ng-click="destroy(parent, attachmentIndex)", title="Anhang löschen")
    .fa.fa-trash
    .clearfix
  .clearfix